<script>
// Enregistrer catégorie
  $("#form-categorie").submit((e)=>{
    e.preventDefault();    
    if($("#des_cat").val() !=='' && $("#prix").val() !=='' && $("#paxmax").val() !==''){
    $.ajax({
      type: 'POST',
      url: "{% url 'save_cat' %}",
      data: {
        designation: $("#des_cat").val(),
        prix: $("#prix").val(),
        paxmax: $("#paxmax").val(),
        csrfmiddlewaretoken : $('[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
        toastr.success(data.msg);
        $(".form-control").val("");
        var tab = `<option value="" selected disabled>sélectionnez une</option>`;
        $.each(data.categories.obj, function(key, value){
          tab += `<option value="`+value.id+`">`+value.designation+`</option>`;
        });
        $("#select-cat").html(tab);
        $("#categorie").html(tab);
      },
      error: function(err) {
        console.log(err);
        toastr.error(err.statusText)
      }
    });
    }else{
        toastr.error("Quelques champs obligatoires sont vides")
    }
  })

  //Selection catégorie
  $("#select-cat").change(function(){
    $.ajax({
      method:'get',
      url:"{% url 'edit_cat' %}",
      data:{
        'id':$("#select-cat").val(),
      },
      success:(function(data){
        $("#des_cat").val(data.cat.designation);
        $("#prix").val(data.cat.prix);
        $("#paxmax").val(data.cat.paxmax);
      })
    })
  })

  //Modifier Catégorie
  $("#btn-cat-modifier").click((e)=>{   
    if($("#des_cat").val() !=='' && $("#prix").val() !=='' && $("#select-cat").val() !==''){
    $.ajax({
      type: 'POST',
      url: "{% url 'edit_cat' %}",
      data: {
        id: $("#select-cat").val(),
        designation: $("#des_cat").val(),
        prix: $("#prix").val(),
        paxmax: $("#paxmax").val(),
        csrfmiddlewaretoken : $('[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
        $(".form-control").val("");
        toastr.success(data.msg);
        var tab = `<option value="" selected disabled>sélectionnez une catégorie</option>`;
        $.each(data.categories.obj, function(key, value){
          tab += `<option value="`+value.id+`">`+value.designation+`</option>`;
        });
        $("#select-cat").html(tab);
        $("#categorie").html(tab);
      },
      error: function(err) {
        console.log(err);
      }
    });
    }else{
      toastr.error('Quelques champs obligatoires sont vides')
    }
  })

  //Supprimer catégorie
  $("#btn-cat-supprimer").click(function(){
    if($("#select-cat").val()=== null){
      toastr.error("Vous devez d'abord sélectionner un client.")
    }else{
      $("#modal-default").modal('show')
      $(".modal-title").html("Suppression Catégorie")
      $(".modal-body").html("Êtes-vous sûr de vouloir supprimer la catégorie "+$("#des_cat").val()+" ? Toutes les chambres affectées dans cette catégorie seront également supprimées y compris toutes les opérations effectuées sur ces chambres disparaîtrons. <br><br>Voulez-vous vraiment prendre ce risque ?")
    }
  });
  $("#modal-continuer").click(function(){
    $.ajax({
      type: 'POST',
      url: "{% url 'delete_cat' %}",
      data: {
        id: $("#select-cat").val(),
        csrfmiddlewaretoken : $('[name=csrfmiddlewaretoken]').val(),
      },
      success:function(data){
        $("#modal-default").modal('hide');
        $(".form-control").val("");
        toastr.info(data.msg);
        var tab = `<option value="" selected disabled>sélectionnez une catégorie</option>`;
        $.each(data.categories.obj, function(key, value){
          tab += `<option value="`+value.id+`">`+value.designation+`</option>`;
        });
        $("#select-cat").html(tab);
        $("#categorie").html(tab);
      },
      error:function(err){
        alert("Erreur survenu :"+ err)
        console.log(err.statusText)
      }
    })
  })







//================================================== CHAMBRES =================================
// Enregistrer catégorie
$("#form-chambre").submit((e)=>{
  e.preventDefault();    
  if($("#numero").val() !==null && $("#niveau").val() !==null && $("#categorie").val() !==null && $("#bloc").val() !==null){
  $.ajax({
    type: 'post',
    url: "{% url 'save_chambre' %}",
    data: {
      numero: $("#numero").val(),
      niveau: $("#niveau").val(),
      categorie: $("#categorie").val(),
      bloc: $("#bloc").val(),
      csrfmiddlewaretoken : $('[name=csrfmiddlewaretoken]').val(),
    },
    success: function(data){
      parametre_suc('chambre', 'cha', data.msg, data.chambres.obj);
    },
    error: function(err) {
      console.log(err);
      toastr.error(err.statusText)
    }
  });
  }else{
      toastr.error("Quelques champs obligatoires sont vides")
  }
})

//Selection chambre
$("#select-cha").change(function(){
  $.ajax({
    method:'get',
    url:"{% url 'edit_chambre' %}",
    data:{
      'id':$("#select-cha").val(),
    },
    success:(function(data){
      $("#numero").val(data.cha.numero);
      $("#niveau").val(data.cha.niveau);
      $("#categorie").val(data.cha.categorie);
      $("#bloc").val(data.cha.bloc);
    })
  })
})

//Modifier Catégorie
$("#btn-cha-modifier").click((e)=>{   
  if($("#numero").val() !==null && $("#niveau").val() !==null && $("#categorie").val() !==null && $("#bloc").val() !==null && $("#select-cha").val() !==null){
  $.ajax({
    type: 'post',
    url: "{% url 'edit_chambre' %}",
    data: {
      id: $("#select-cha").val(),
      numero: $("#numero").val(),
      niveau: $("#niveau").val(),
      categorie: $("#categorie").val(),
      bloc: $("#bloc").val(),
      csrfmiddlewaretoken : $('[name=csrfmiddlewaretoken]').val(),
    },
    success: function(data){
      parametre_suc('une chambre', 'cha',data.msg, data.chambres.obj)
    },
    error: function(err) {
      console.log(err);
    }
  });
  }else{
    toastr.error('Quelques champs obligatoires sont vides')
  }
})

//Supprimer catégorie
$("#btn-cha-supprimer").click(function(){
  if($("#select-cha").val()=== null){
    toastr.error("Vous devez d'abord sélectionner une chambre.")
  }else{
    $("#modal-default").modal('show')
    $(".modal-title").html("Suppression Chambre")
    $(".modal-body").html("Êtes-vous sûr de vouloir supprimer la chambre "+$("#numero").val()+" ? Toutes les opérations effectuées sur cette chambre disparaîtrons. <br><br>Voulez-vous continuer ?")
  }
});
$("#modal-continuer").click(function(){
  $.ajax({
    type: 'POST',
    url: "{% url 'delete_chambre' %}",
    data: {
      id: $("#select-cha").val(),
      csrfmiddlewaretoken : $('[name=csrfmiddlewaretoken]').val(),
    },
    success:function(data){
      $("#modal-default").modal('hide');
      parametre_suc('chambre', 'cha', data.chambres.obj);
    },
    error:function(err){
      console.log(err.statusText)
    }
  })
})

function parametre_suc(nom_model='',nom_select='', obj_msg, obj_model){
    $(".form-control").val("");
    toastr.info(obj_msg);
    var tab = `<option value="" selected disabled>sélectionnez `+nom_model+`</option>`;
    $.each(obj_model, function(key, value){
      tab += `<option value="`+value.id+`">`+value.numero+`</option>`;
    });
    $("#select-"+nom_select).html(tab);
}


















//SELECT2 ET BOOTSTRAP SWITCH
  $(document).ready(function() {
    $('.form-select').select2();
    $('#select-bloc').select2();
  });

  $("input[data-bootstrap-switch]").each(function(){
    $(this).bootstrapSwitch('state', $(this).prop('checked'));
  })


//DETECT DEVICE

  function detectDeviceType() {
    const userAgent = navigator.userAgent;
    return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(userAgent) ? 'Mobile' : 'Desktop';
  }
  if(detectDeviceType()==="Mobile"){
    $(".input-group").removeClass("col-6"); $(".input-group").addClass("col-12");
  }
</script>